body {
	width: 80%;
	max-width: 700px;
	border: 20px solid #bdc3c7;
	padding: 20px;
	margin: 20px auto;
	font-family: Source Sans Pro;
}

h2 {
	color: #2c3e50;
	font-size: 2rem;
}

.date {
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

.quote {
	border-left: 4px solid #bdc3c7;
	padding: 4px;
}

hr {
	border: 0;
    height: 1px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.post {
	margin-bottom: 20px;
}